$grey_border: 3px solid #ccc;
$grey_border_thin: 1px solid #ccc;

#teamline {
  position: relative;
  display: none;
  width: 100%;
  background: white;

  ul {
    padding: 0;
    margin: 0;
  }

  button {
    &:focus {
      outline: none;
    }
  }

  &.visible {
    display: block;
  }

  &[data-view="team"] {
    #teamline-overview {
      display: none;
    }
  }

  &[data-view="overview"] {
    #teamline-charts, #teamline-gallery, #teamline-legend-details {
      display: none;
    }
    #back-button {
      visibility: hidden;
    }
  }

  svg {
    .nv-noData {
      display: none;
    }
  }

}

#teamline-overview {
  border-left: $grey_border;
  border-right: $grey_border;
  border-bottom: $grey_border;

  .deliverable-overview {
    display: none;
    &.active {
      display: block;
    }
  }

  .team-cell {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
    overflow: hidden;
    color: #444;
    &:hover {
      background-color: #aaa !important;
      color: white;
      cursor: pointer;
    }

    .teamname {
      padding: 0 5px;
      right: 0;
      bottom: 0;
      position: absolute;
      color: #555;
    }
  }

  &.drawing svg {
    //display: none;
  }
}

#teamline-menu {
  width: 100%;
  height: 6%;
  padding: 5px 15px;
  border-bottom: $grey_border;

  > * {
    display: inline-block;
  }
}

#teamline-logo {
  font-weight: bold;
  vertical-align: middle;
  font-size: 25px;
  margin-right: 50px;
}

#teamline-heading-input {
  vertical-align: middle;
  padding: 0 6px;
  font-size: 22px;
  margin: 0 10px;
  width: 150px;
  text-align: center;
  &:not(:focus) {
    background: inherit;
    border: none;
  }
  &:focus {
    outline: none;
  }
}

#teamline-legend-details {
  position: absolute;
  padding: 10px;
  bottom: 19px;
  right: 20px;
  background: white;
  border: 3px solid #ccc;

  li {
    list-style-type: none;
  }
}

#teamline-stage {
  width: 100%;
  height: 94%;
  overflow: auto;

  .username-container {
    width: 95%;
    position: absolute;
    text-align: center;
  }

  #teamline-charts {
    overflow: auto;
    width: 100%;
    height: 75%;
    background: white;
    border-bottom: $grey_border;

    > div {
      float: left;
      height: 100%;

      &:nth-child(1) {
        width: 40%;
      }
      &:nth-child(2) {
        //border-left: 1px solid black;
        width: 30%;
      }
      &:nth-child(3) {
        //border-left: 1px solid black;
        width: 30%;
      }
    }

    .username-container {
      bottom: 15px;
      left: 10px;
      font-size: 22px;
    }
  }

  #teamline-gallery {
    width: 100%;
    height: 25%;
  }

}

#teamline-charts svg {
  .nv-axisMaxMin-y {
    display: none;
  }
  .nv-axisMin-x {
    transform: translate(10px, 0) !important;
  }
  .nv-axisMax-x {
    display: none;
  }

  .nv-point {
    stroke-opacity: 1;
    stroke-width: 3px;
    fill-opacity: 1;
  }

  .nv-x {
    .nv-axis {
      .tick:last-of-type text {
        transform: translate(-15px, 0);
        font-weight: bold;
      }
    }
  }

  .nv-y {
    .nv-axis {
      .tick {
        &:first-child {
          line {
            display: none;
          }
        }
      }
    }
  }

  &.grade-chart {
    .nv-series-3, .nv-series-4 {
      .nv-point {
        display: none;
      }
    }
  }

  &.user-chart {
    .nv-y .nv-axis .tick text {
      display: none;
    }

    .nv-series-2, .nv-series-3 {
      .nv-point {
        display: none;
      }
    }
  }

  .nv-group {
    &.dashed {
      stroke-dasharray: 10, 5;
      stroke-width: 4px !important;
    }
    &.release {
      color: red;
    }
    &.due {
      color: blue;
    }
  }



}

#teamline-gallery {
  overflow: auto;
  padding: 10px;

  .gallery-chart-container {
    position: relative;
    float: left;
    width: 170px;
    height: 160px;
    border: 3px solid #ccc;
    margin-right: 10px;
    background: white;
    background-image: url('../images/unchecked.png');
    background-size: 20px 20px;
    background-position: 102% -2%;
    background-repeat: no-repeat;

    &.active {
      background-image: url('../images/checked.png');
      border-color: #62b1f6;
    }

    .username-container {
      bottom: 2px;
    }

    .dateline {
      display: none;
    }

  }

  svg {
    .nv-point-paths {
      display: none;
    }
  }
}

.teamline-tooltip {
  ul {
    margin: 0;
    padding: 5px;

    li {
      list-style-type: none;

      .label {
        font-size: 100%;
        color: black;
        padding-right: 5px;
        font-weight: bold;
      }
      .content {

      }

    }
  }
}

.chart-container {
  position: relative;

  &#grade-chart-container .teamline-legend {
    left: 55px;
  }
  &.user-chart-container .teamline-legend {
    left: 10px;
  }

  .teamline-legend {
    position: absolute;
    top: 3px;

    li {
      list-style-type: none;
      display: inline-block;
      position: relative;
      margin-right: 7px;

      &:after {
        top: 0;
        display: block;
        position: absolute;
      }

      &:nth-child(1):after {
        right: -6px;
        content: "*";
      }
      &:nth-child(2):after {
        right: -11px;
        content: "**";
      }
      &:nth-child(3):after {
        right: -16px;
        content: "***";
      }

      .symbol {
        margin-left: 5px;
        margin-right: 3px;
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 10px;
      }
    }
  }
}