/* line 1, teamline.scss */
body {
  margin-top: 20px;
}

/* line 6, teamline.scss */
.teamline-tooltip ul {
  margin: 0;
  padding: 5px;
}
/* line 10, teamline.scss */
.teamline-tooltip ul li {
  list-style-type: none;
}
/* line 13, teamline.scss */
.teamline-tooltip ul li .label {
  font-size: 100%;
  color: black;
  padding-right: 5px;
  font-weight: bold;
}

/* line 27, teamline.scss */
#teamline-buttons {
  text-align: center;
}
/* line 30, teamline.scss */
#teamline-buttons button:focus {
  outline: none;
}

/* line 37, teamline.scss */
#teamline-chart svg {
  margin: 0 auto;
}
/* line 41, teamline.scss */
#teamline-chart .nv-lineChart {
  transform: translate(80px, 25px);
}
/* line 45, teamline.scss */
#teamline-chart .nv-legendWrap {
  transform: translate(17px, 0);
}
/* line 49, teamline.scss */
#teamline-chart .nvd3-svg .nv-point {
  stroke-opacity: 1;
  stroke-width: 5px;
  fill-opacity: 1;
}
/* line 55, teamline.scss */
#teamline-chart .duedate-line {
  stroke: solid;
  stroke-dasharray: 5,5;
}
/* line 63, teamline.scss */
#teamline-chart .nv-axis.nv-y g.tick text {
  font-weight: normal;
}
/* line 68, teamline.scss */
#teamline-chart .nv-axis.nv-y g.tick:nth-of-type(1) text {
  display: none;
}
/* line 74, teamline.scss */
#teamline-chart .nv-axis.nv-y g.tick:nth-last-of-type(2) text {
  font-weight: bold;
}
/* line 77, teamline.scss */
#teamline-chart .nv-axis.nv-y g.tick:nth-last-of-type(2) line {
  stroke-width: 3px;
  stroke: #aaa;
  stroke-dasharray: 5,5;
}
/* line 88, teamline.scss */
#teamline-chart .nv-axis.nv-x .tick.zero line {
  stroke-width: 3px;
  stroke: #bbb;
}
/* line 96, teamline.scss */
#teamline-chart .nv-axis .nv-axisMaxMin text {
  font-weight: normal;
}
/* line 99, teamline.scss */
#teamline-chart .nv-axis .nv-axisMaxMin.nv-axisMaxMin-y {
  display: none;
}
